
    @page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bootstrap
@addTagHelper *, Volo.Abp.AspNetCore.Mvc.UI.Bundling


@using Microsoft.AspNetCore.Mvc.Localization

@using TestLoginYogapoint.Pages.Account
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings

@model CustomRegistrationModel

@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.Settings.ISettingProvider SettingProvider

@{
    ViewData["Title"]="Register";
   
}
<head>
    <link rel="stylesheet" href="../Pages/Account/Register.css">

</head>

<div class="card rounded-4 ">
    <div class="card-body abp-background p-5">

        <div class="row">
            <div class="col-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 style="margin-top: -31px">Sign Up</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                        <label>PhoneNumber</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-floating">
                        <input asp-for="Input.UserName" class="form-control" hidden aria-required="true" />
                        <label>PhoneNumber</label>
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    


           
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Input.Gender" value="M">
                <label class="form-check-label" asp-for="Input.Gender">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" asp-for="Input.Gender" value="F"> 
                <label class="form-check-label" asp-for="Input.Gender">Female</label>
            </div>
                   
            <div class="form-floating">
                <input asp-for="Input.EmailAddress" class="form-control" autocomplete="new-email" aria-required="true" />
                        <label>Email</label>
                <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
            </div>
                       
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                        <label>Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

                    <div>
                        <label asp-for="Input.ConfirmPassword">Confirm Password:</label>
                        <input type="password" asp-for="Input.ConfirmPassword">
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

            
            <button id="registerSubmit" type="submit"class="w-100 btn " onclick="checkPassword()">CREATE MY ACCOUNT</button>
        </form>
        </div>
            <div class="col-1">
              
            </div>
        <div class="col-5" id="parent">

                
            <img src="~/images/logo/leptonx/Login_Page_1.png" class="logo mt-5" alt="...">
        </div>
        </div>
       
        </div>
    </div>
